; === Scatterer Configuration ===
; This file defines distinct groupings for surface scatter.
; Bodies listed here will have surface rock scatter enabled by default,
; using the mesh prefix defined by their group.

BEGIN_GROUP Terrestrial
    Mesh = LunarScatter
    Bodies = Mercury, Venus, Moon, Vesta
END_GROUP

BEGIN_GROUP Martian
    Mesh = LunarScatter
    Bodies = Mars, Phobos, Deimos
END_GROUP

BEGIN_GROUP Icy
    Mesh = LunarScatter
    Bodies = Europa, Ganymede, Callisto, Mimas, Enceladus, Tethys, Dione, Rhea, Titan, Hyperion, Iapetus, Miranda, Ariel, Umbriel, Titania, Oberon, Triton, Proteus, Nereid
END_GROUP
